@media (max-width: 1024px) {
    h1 {
        font-size: 70px;
    }

    .hero-page__content {
        &-icons {
            gap: 5px;
            flex-wrap: wrap;
        }
    }

    .competentions {
        &__item {
            &-content p {
                font-size: 15px;
                line-height: 140%;
            }

            &-num{
                font-size: 110px;
            }
        }
    }

        .testimonials {
            &__content {
                &-text p {
                    line-height: 40px;
                }
            }
        }

    .wrapper{
        flex-wrap: wrap;
    }
    button{
    padding: 20px 35px;
}

.modal{
    &__form{
        &-icon{
            left: 30%;
        }
    }
}
}

@media (max-width: 768px) {
    .burger{
        display: flex;
    }

    .header {
        &__menu {
            display: none;
            flex-direction: column;
            position: fixed;
            height: 100%;
            width: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 50;
            overflow-y: auto;
            padding: 40px 50px;
            background-color: #F9BC6E;
            animation: burgerAnimation 0.4s;
        }

        &__nav {
            &-item {
                display: flex;
                flex-direction: column;
            }
        }
    }

    @keyframes burgerAnimation {
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }

    h1 {
        font-size: 45px;
    }

    .hero-page{
        margin-top: 20px;
        &__content{
            &-text{
                font-size: 15px;
            }
        }
    }

    button{
        font-size: 15px;
        padding: 5px 35px;
    }

    h3{
        font-size: 35px;
    }

    .competentions{
        margin-top: 70px;

        &__item {
                &-num {
                    font-size: 80px;
                }
        
                &-content {
                    padding: 20px 15px;
        
                    span {
                        font-size: 25px;
                    }
                }
            }
    }

    h2{
        font-size: 40px;
    }

    .meeting{
        gap: 20px;
        &__order{
            width: 70%;
            input{
                font-size: 15px;
                padding: 10px 0px 10px 40px;
            }

            button{
                padding: 10px 0px;
                font-size: 20px;
            }
        }
    }

    .testimonials{
        &__content{
            &-text{
                p{
                    font-size: 15px;
                    line-height: 25px;
                }

                span{
                    font-size: 15px;
                    line-height: 20px;
                }
            }
        }
    }

    .articles__item:nth-child(3) {
        width: 37%;
    }

    .reason{
        padding-top: 20px;
        gap: 20%;
        &__content{
            p{
                line-height: 25px;
            }
        }
    }

    .modal{
        &__form{
            &-icon{
                left: 23%;
            }
        }
    }
}

@media (max-width: 428px) {
    .hero-page{
        flex-wrap: wrap;
    }

    .competentions {
        &__item {
            &-content{
                flex-wrap: wrap;
                gap: 10px;
            }

            &-num {
                font-size: 55px;
            }
        }
    }

    h2{
        font-size: 30px;
    }

    h3{
        font-size: 25px;
    }

    .testimonials{
        &__content{
            flex-wrap: wrap;
        }
    }

    .articles{
        &__item, &__item:nth-child(3){
            width: 75%;
        }
    }

    .reason{
        flex-direction: column;
        gap: 5px;

        &__content{
            width: 80%;
        }
    }

    .footer{
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

        &__contact{
            gap: 20px;
        }

        &__info{
            width: 100%;
        }
    }

    .modal{
        &__form{
            &-icon{
                left: 11%;
            }
        }
    }
}

@media (max-width: 376px) {
    .hero-page{
        gap: 10px;

        &__content{
            display: flex;
            padding: 10%;
            flex-direction: column;
            align-items: center;

            &-icons{
                flex-direction: column;
            }
        }
    }

    .competentions{
        margin-top: 0;
    }

    .meeting{
        &__order{
            width: 100%;
        }
    }

    .testimonials{
        &__content{
            gap: 10px;
            width: 80%;
        }
    }
}