@font-face {
    font-family: 'HKGrotesk';
    src: url('../fonts/HKGrotesk-Bold.otf');
}

body {
    font-family: 'HKGrotesk';
    font-weight: normal;
}

@font-face {
    font-family: 'ProductSans';
    src: url('../fonts/ProductSans-Regular.ttf');
}

h1 {
    font-family: 'ProductSans';
    font-weight: 700;
    font-size: 76px;
    line-height: 115.7%;
    letter-spacing: -0.015em;
}

h2 {
    font-family: 'ProductSans';
    font-weight: 700;
    font-size: 64px;
    line-height: 128.3%;
    color: #FFFFFF;
}

h3 {
    font-family: 'ProductSans';
    font-weight: 700;
    font-size: 52px;
    line-height: 137.2%;
}

h4 {
    font-family: 'ProductSans';
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -1px;
    color: #FFFFFF;
}